@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
body{
  margin: 0; 
  padding: 0;
  background-color: #F5F8FF;
}

/* shared styles */
.inter, body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.primary-color {
    color: #E95A08;
}

.description-color {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary{
    font-weight: 600;
    font-size: 1rem;
    padding: 19px 0;
    width: 100%;
    color:beige;
    background-color: #E95A08;
}

.btn-primary:hover{
    font-weight: 600;
    font-size: 1rem;
    padding: 19px 0;
    width: 100%;
    color: #E95A08;
    background-color: white;
}

/* header styles */
/* nav styles */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    margin: 1.5rem 0;
}

    

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 9.5rem;
}

.logo {
    width: 8.5rem;
}
/* banner styles */
.banner{
    margin: 15.75rem 9.5vw 0;
    display: flex;
    align-items: end;
}
.column{
    width: 50%;
}

/* our plants section */
.our-plants .text{
    justify-self: center;
    text-align: center;
    width: 55.5rem;
    margin-top: 7.5rem;
    margin-bottom: 3rem;
}
.card-container{
    margin: 0 8.125rem;
}
.card{
    text-align: center;
    width:fit-content;
}

.card img{
    width: 100%;
    margin-bottom: 30px;
}

.card p {
    font-size: 1.375rem;
    color: #111111;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}



/* flower lover section */
.flower-lover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13.125rem 9.5rem 8.36rem;
}
.flower-lover div{
    width: 46%
}


.details h1{
    font-family: noto-serif;
    font-weight: bold;
    font-size: 3.125rem;
    width: 30rem;
    
}
.details ul{
    list-style-type:disc;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.details li{
    margin-left: 2rem;
    margin-top: 20px;
}
.flower-lover-pics{
    position: relative;
}

@keyframes rotation {
    from{
        rotate: 0deg;
    }
    to{ rotate: 360deg;}
}

.trusted-badge{
    position: absolute;
    width: 17.875rem;
    top: -22%;
    right: -22%;
    animation: rotation 3s linear 0s infinite;

}




/* Latest Deals section */

.latest-deals{
    text-align: center;
}

.latest-deals .text{
    justify-self: center;
    text-align: center;
    width: 55.5rem;
    margin-bottom: 7.5rem;
}

.latest-deals .text h1{
    margin-bottom: 1rem;
}

.image-collage{
    display: flex;
    gap: 1.94%;
    justify-self: center;
    width: 79.16%;
    height: 423.13px;
}

.zabo{
    height: 423.13px;
}

.bloom, .ana, .zabo{
    filter: brightness(60%);
    border-radius: 1rem;
}

.collage-1{
    position: relative;
}

.ana{
    position: absolute;
    bottom: 0;
}
.bloom-con .ana-con, .collage-2{
    position: relative;
}

    .floating-text-1{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 1.25rem;

    }
    .floating-text-2{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 1.25rem;
    }
    .floating-text-3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 2.5rem;
    }

.floating-text-1, .floating-text-2, .floating-text-3{
    color: white;
    font-weight: bold;
    font-family: noto-serif;
}
.shop{
    margin-top: -19px;
    font-size: 1rem;
    font-weight: 600;
    font-family: inter;
    text-decoration: underline;
}

.shop2 {
    margin-top: -29px;
    font-size: 1.75rem;
    font-weight: 600;
    font-family: inter;
    text-decoration: underline;
}


/* join section */

.join-section{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.join-section h1{
    font-family: noto-serif;
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 120px;
    padding-top: 199px;
}

#email{
    background-color: white;
    width: 644px;
    height: 50px;
    border-radius: 0%;
    padding-left: 20px;
}

#subscribe{
    background-color: #E95A08;
    color: white;
    width: 186px;
    height: 50px;
    border-radius: 0%;
}
.input-field{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    padding-bottom: 193px;
}

/* contact info */

.contact-info{
    display: flex;
    align-items: center;
    justify-self: center ;
    gap: 110.67px;
    margin: 50px 0 ;
}

.link-column li{
    padding-top: 32px;
}
.social-media{
    display: flex;
    gap: 24px;
    margin-top: -170px;
}
.social-media img{
    width: 36px;
    height: 36px;
}

.fauget-logo{
    width: 135px;
}





/* media query */

@media screen and (max-width: 768px) {

    /* shared */
    .btn-primary{
    padding: 19px 0;
    }

    /* header styles */

    /* nav */
    .nav-links li:nth-child(1), .nav-links li:nth-child(2), .nav-links li:nth-child(3){
        display: none;
    }
    nav{
        margin: 1rem;
    }
    nav div:first-child {
        width: 5rem;
    }
    /* banner */
    .banner{
    margin: 0;
    flex-direction: column-reverse;
    
    }

    .column:first-child{
        width: calc(100% - 2rem);
        margin: 1.75rem 1rem;
    }

    .column:nth-child(2){
        width: 100%;
        margin-top: 1.75rem;
        justify-items: end;
        position:static;
    }
    .column h1{
        font-size: 1.5rem;
        width: 12rem;
    }
    .column p{
        font-size: 14px;
    }


    /* our plants section */

    .card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28.5px 20px;
    }

    .text h1 {
        font-size: 1.5rem;
    } 
    .text p{
        font-size: 0.875rem;
    }
    
    .our-plants .text{
    width: 21rem;
    margin-top: 4.0625rem;
    margin-bottom: 1.75rem;
    }
    .card-container{
    margin: 0 1rem;
    }
    
    .card img{
        width: 100%;
        margin-bottom: 30px;
    }

    .card p {
        font-size: 1rem;
    }


    /* flower lover section */
    .trusted-badge{
        display: none;

    }
    .flower-lover{
    display: block;
    margin: 2.5rem 0rem 9rem;
    justify-self: center;
    width: 91.12%;
    }
    .flower-lover div, .flower-lover-pics img{
    justify-self: center;
    width: 100%;
    
    }

    .details h1{
    margin-top: 1.125rem;
    font-size: 1.5rem;
    width: 100%;
    
    
    }
    .details ul{
        font-size: 0.875rem;
    }
    .details li{
        margin-top: 1rem;
        margin-left: 1.25rem;
    }



    /* Latest Deals section */

    .latest-deals .text{
        justify-self: center;
        text-align: center;
        width: 21rem;
        margin-bottom: 3.21rem;
    }

    .latest-deals .text h1{
        margin-bottom: 1rem;
    }

    .image-collage{
        display: block;
        justify-self: center;
        width: 100%;
        justify-items: center;
        height: auto;
    }

    .zabo{
        height: auto;
    }

    .bloom, .ana, .zabo{
        filter: brightness(60%);
        border-radius: 1rem;
        margin-bottom: 20px;

    }

    .collage-1{
        position: relative;
    }

    .ana{
        position: relative;
    }
    .bloom-con .ana-con, .collage-2{
        position: relative;
        width: 79.16%;
    }

    .floating-text-1{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 1.25rem;

    }
    .floating-text-2{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 1.25rem;
    }
    .floating-text-3{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 1.25rem;
    }

    .floating-text-1, .floating-text-2, .floating-text-3{
        color: white;
        font-weight: bold;
        font-family: noto-serif;
    }
    .shop, .shop2{
        margin-top: -19px;
        font-size: 1rem;
        font-weight: 600;
        font-family: inter;
        text-decoration: underline;
    }


    /* join section */

    .join-section h1{
        font-size: 1.25rem;
        margin-top: 44.5px;
        padding-top: 110.5px;
    }

    #email{
        width: 218px;
    }

    #subscribe{
        width: 103px;
    }
    .input-field{
        margin-top: 23px;
        padding-bottom: 61.5px;
    }


    /* contact info */

    .contact-info{
        display: block;
        align-items: center;
        justify-self: center ;
        gap: 110.67px;
        margin: 50px 0 ;
    }


    .link-column li{
        padding-top: 32px;
    }
    .social-media{
        display: flex;
        gap: 24px;
        margin-top: 40px;
    }
    .social-media img{
        width: 36px;
        height: 36px;
    }

    .fauget-logo{
    width: 180px;
}

}