@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
body{
  margin: 0; 
  padding: 0;
  background-color: #F5F8FF;
}

/* shared styles */
.inter, body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.primary-color {
    color: #E95A08;
}

.description-color {
    color: rgba(0, 0, 0, 0.5);
}

.btn-primary{
    font-weight: 600;
    font-size: 1rem;
    padding: 19px 0;
    width: 100%;
    color: white;
    background-color: #E95A08;
}


/* header styles */
/* nav styles */
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    margin: 1.5rem 0;
}

    

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 9.5rem;
}

.logo {
    width: 8.5rem;
}
/* banner styles */
.banner{
    margin: 15.75rem 9.5vw 0;
    display: flex;
    align-items: end;
}
.column{
    width: 50%;
}

/* our plants section */
.our-plants .text{
    justify-self: center;
    text-align: center;
    width: 55.5rem;
    margin-top: 7.5rem;
    margin-bottom: 3rem;
}
.card-container{
    margin: 0 8.125rem;
}
.card{
    text-align: center;
    width:fit-content;
}

.card img{
    width: 100%;
    margin-bottom: 30px;
}

.card p {
    font-size: 1.375rem;
    color: #111111;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

/* flower lover section */
.flower-lover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13.125rem 9.5rem 8.36rem;
}
.flower-lover div{
    width: 46%
}


.details h1{
    font-family: noto-serif;
    font-weight: bold;
    font-size: 3.125rem;
    width: 30rem;
    
}
.details ul{
    list-style-type:disc;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.details li{
    margin-left: 2rem;
    margin-top: 20px;
}
.flower-lover-pics{
    position: relative;
}

@keyframes rotation {
    from{
        rotate: 0deg;
    }
    to{ rotate: 360deg;}
}

.trusted-badge{
    position: absolute;
    width: 17.875rem;
    top: -22%;
    right: -22%;
    animation: rotation 3s linear 0s infinite;

}










/* media query */

@media screen and (max-width: 768px) {

    /* shared */
    .btn-primary{
    padding: 19px 0;
    }

    /* header styles */

    /* nav */
    .nav-links li:nth-child(1), .nav-links li:nth-child(2), .nav-links li:nth-child(3){
        display: none;
    }
    nav{
        margin: 1rem;
    }
    nav div:first-child {
        width: 5rem;
    }
    /* banner */
    .banner{
    margin: 0;
    flex-direction: column-reverse;
    
    }

    .column:first-child{
        width: calc(100% - 2rem);
        margin: 1.75rem 1rem;
    }

    .column:nth-child(2){
        width: 100%;
        margin-top: 1.75rem;
        justify-items: end;
        position:static;
    }
    .column h1{
        font-size: 1.5rem;
        width: 12rem;
    }
    .column p{
        font-size: 14px;
    }


    /* our plants section */

    .card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28.5px 20px;
    }

    .text h1 {
        font-size: 1.5rem;
    } 
    .text p{
        font-size: 0.875rem;
    }
    
    .our-plants .text{
    width: 21rem;
    margin-top: 4.0625rem;
    margin-bottom: 1.75rem;
    }
    .card-container{
    margin: 0 1rem;
    }
    
    .card img{
        width: 100%;
        margin-bottom: 30px;
    }

    .card p {
        font-size: 1rem;
    }


    /* flower lover section */
    .trusted-badge{
        display: none;

    }
    .flower-lover{
    display: block;
    margin: 2.5rem 0rem 9rem;
    justify-self: center;
    width: 91.12%;
    }
    .flower-lover div, .flower-lover-pics img{
    justify-self: center;
    width: 100%;
    
    }

    .details h1{
    margin-top: 1.125rem;
    font-size: 1.5rem;
    width: 100%;
    
    
    }
    .details ul{
        font-size: 0.875rem;
    }
    .details li{
        margin-top: 1rem;
        margin-left: 1.25rem;
    }




}